body {
    --dark-color: #212529;
    --light-color: #f3f2f1;
    --link-color: #0DAD78;
    --row-hover-color: #3b3f43;
    --row-color-even: #54585C;
    --logo-color: invert(99%) sepia(4%) saturate(516%) hue-rotate(295deg) brightness(115%) contrast(90%);
    background-color: var(--dark-color);
    color: var(--light-color);
}
caption {
    color: var(--light-color);
}
.table {
    background-color: var(--dark-color);
    color: var(--light-color);
}
.table a:hover {
    text-decoration: dotted;
}
.table a,
.table a:link,
.table a:visited,
.table a:hover,
.table a:active {
    color: var(--link-color);
}
.table {
    --bs-table-hover-color: var(--light-color);
    --bs-table-hover-bg: var(--row-hover-color);
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--light-color);
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    background-color: var(--row-color-even);
}
.logotype {
    filter: var(--logo-color);
}